/*Layout*/
#computer {
  float: left;
}

#user {
  float: right;
  margin-right: 0;
}

#computer_image {  /*flip computer image along x axis*/
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

#result{  /*hide result div by default*/
  display: none;
}

.center{
  text-align: center;
}

h3 {
  margin-left: 20px;
  margin-right: 20px;
}

/*animations*/
.animatedleft {
  -webkit-animation: animationleft 2s;
  -webkit-animation-iteration-count: infinite;
  animation: animationleft 2s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes animationleft {
  0% {-webkit-transform: translateY(0) scaleX(-1);}
  25% {-webkit-transform: translateY(40px) scaleX(-1);}
  50% {-webkit-transform: translateY(-15px) scaleX(-1);} 
  75% {-webkit-transform: translateY(40px) scaleX(-1);}
  100% {-webkit-transform: translateY(0) scaleX(-1);}
}

@keyframes animationleft {
  0% {transform: translateY(0) scaleX(-1);}
  25% {transform: translateY(40px) scaleX(-1);}
  50% {transform: translateY(-15px) scaleX(-1);} 
  75% {transform: translateY(40px) scaleX(-1);}
  100% {transform: translateY(0) scaleX(-1);}
}

.animatedright {
  -webkit-animation: animationright 2s;
  -webkit-animation-iteration-count: infinite;
  animation: animationright 2s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes animationright {
  0% {-webkit-transform: translateY(0);}
  25% {-webkit-transform: translateY(40px);}
  50% {-webkit-transform: translateY(-15px);} 
  75% {-webkit-transform: translateY(40px);}
  100% {-webkit-transform: translateY(0);}
}

@keyframes animationright {
  0% {transform: translateY(0);}
  25% {transform: translateY(40px);}
  50% {transform: translateY(-15px);} 
  75% {transform: translateY(40px);}
  100% {transform: translateY(0);}
}