/*Layout*/
#computer {
  float: left;
}

#user {
  float: right;
  margin-right: 0;
}


#computer_image{
  transform: scaleX(-1);
}

#result{
  display: none;
}

.center{
  text-align: center;
}

#headings{
  margin-top: 25px;
  margin-left: 25px;
}