/*Layout*/
#computer {
  float: left;
}

#user {
  float: right;
  margin-right: 0;
}

#computer_image{  /*flip computer image along x axis*/
  transform: scaleX(-1);
}

#result{  /*hide result div by default*/
  display: none;
}

.center{
  text-align: center;
}

h3 {
  margin-left: 20px;
  margin-right: 20px;
}